@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${AUTH_TOKEN}

# Enable build scripts for native modules
enable-pre-post-scripts=true
